body {
    background-color: rgb(246, 245, 245);

    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.links {
    margin: 0 auto;
    text-align: center;

    background-image: linear-gradient(to right, rgb(226, 198, 246) , rgb(246, 208, 232));
    padding: 1%;
    border: 3px solid rgb(49, 49, 49);
    border-radius: 30px;
    width: 95%;
}

a {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(38, 20, 178);
    font-weight: bold;

}
a:hover {
    color: rgb(222, 84, 162);
}

img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto; /* Align in the center */
}

p {
    font-family: sans-serif;
}

 .heading, .content-data {
    color: rgb(22, 22, 22);
    text-align: center;
}

@media (max-width: 1200px) {
    .links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}